* {
    padding: 0;
    margin: 0;
}
body,html{
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    /*62.5% 10px */
}

/* 取消前面的点 */
ul li {
    list-style: none;
}
/* 取消a标签的下划线 */
a {
    text-decoration: none;

}
/* 取消i标签默认倾斜 */
i {
    font-style: normal;
}


.content{
    display:flex; 
    /* flex-wrap: wrap; */
    /* overflow-x: auto; */
    background-color: #141414;
}
.left-main{
    padding: 1rem 0;
}

.left{
    /* flex: 0 1 20rem; */
    height: 100vh;
    width: 200px;
    /* background-color: #ccc; */
    /* flex-shrink: 0; */

}


.left-header{
    height:4rem;

}
.left-header a{
    color: #a1a1a1;
    font-size: 1.8rem;
    margin-left:1rem;
}
 
.left-main ul li {
    height:4rem;
    margin-left:4rem;

}

.left-main ul li>a {
    color: #a1a1a1;
    /* font-size: 1.4rem; */
    font-size: 1.4rem;

    
}

.left-header a:hover{
    color:#fff;

}


.left-main ul li>a:hover{
    color:#fff;
    font-size: 1.6rem;
    font-weight:700;

}

.right{
    flex: 1;
    color: #fff;
    /* background-color: aqua; */
    /* flex-shrink: 0; */

}

/* 右侧的搜索框 */
.right-search{
    text-align: center;
    margin:2rem;
}
.right-search input {
    /* # 取消轮廓线 */
    outline: none; 
    background: rgba(255,255,255,.1);
    border: 0;
    width: 45rem;
    height: 5rem;
    border-radius: 3rem;
    text-indent: 2em;
    font-size: 1.6rem;
}

.right-title h1{
    font-size:3rem;
    color: #fff;
    /* 文字加粗 */
    font-weight: 500;
}

.right-content ul{
    display: flex;
    /* 换行 */
    flex-wrap: wrap;
    /* 两端对齐 */
    justify-content: space-between;

}

.right-content ul img{
    max-width: 100%;
    /* 高度等比缩放 */
    height: auto;
}

.right-content ul li{
    flex : 0 1 24%;
    margin: 2rem 0;
}
/* 鼠标点击图片区域时的放大功能 */
.right-content ul li:hover{
    transform: scale(1.2);
    transition: all 0.5s ease;
}

.right-content ul h4{
    font-size: 1.6rem;
    color:#fff;
    font-weight: 500;

}

.right-content ul p{
    font-size: 1.4rem;
    color:#a1a1a1;
    margin:.5rem 0;
    
}

.right header{
    color: #fff;
}
/* .header{
    height: 4rem;
} */

/* 头部菜单栏 */

.header {
    display:none;
}
.header-top {
    display: flex;
    justify-content: space-around;
    height: 4rem;
    align-items: center;

}
.menu-first {
    color: #fff;
    font-size: 1.8rem;
}

.header-top ul {
    display: flex;
}

.header-top ul a{
    font-size: 1.8rem;
    padding: 0 3rem;
    
}

.menu-link i{
    color: #fff;
    font-size: 1.8rem;
    border:1px solid #fff;
    border-radius: 4px;
    padding: 5px 8px ;
}

.menu-first,
.menu-link{
    display: none;
}



@media (max-width:1200px) {
    .right-content ul li{
        flex : 0 1 48%;
    }

    
}

@media (max-width:992px) {
    .left {
        display:none;
    }
    .header {
        display:block;
    }
    .right-search input{
        max-width: 40rem;
    }
    .right-title h1{
        font-size:2rem;
        text-align: center;
    }
    

    
}









@media (max-width:768px) {
    .header-top ul{
        display:none;
    }
    .menu-first,
    .menu-link{
    display: block;
    }

    .right-search input{
        max-width: 30rem;
    }
    .right-content ul{
        justify-content: center;
    }

    .right-content ul li{
        flex : 0 1 60%;
    }
    

    
    

    
}
